<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>
<body>
<div th:replace="common :: common-nav"></div>
<div th:replace="register_Login/register :: register-modal"></div>
<div th:replace="register_Login/login :: login-modal"></div>

<script th:src="@{/js/register_Login/register.js}" ></script>
<script>
    var $1 = $(function () {
        modalUtil.init();
    });

    var modalUtil = {
        startListen:function () {
            this.loginModal();
            this.registerModal();
        },
        registerModal:function(){
            $('#exampleModal').on('hidden.bs.modal', function() {
                $('#registerForm')[0].reset();
                $('#registerForm').data('bootstrapValidator').destroy();
                $('#registerForm').data('bootstrapValidator', null)
                bootStrapUtilR.init();
            });
        },
        loginModal:function(){
            $('#exampleModalLogin').on('hidden.bs.modal', function() {
                $('#loginForm')[0].reset();
                $('#loginForm').data('bootstrapValidator').destroy();
                $('#loginForm').data('bootstrapValidator', null);
                bootStrapUtilL.init();
            });
        },
        init:function () {
            this.startListen();
        }
    }

</script>
</body>
</html>